n8n/relocation-import-csv.json
{
  "name": "relocation-import-csv",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import-salaries",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "919a5d5e-0dba-485f-9c64-b65ce7b40891",
      "name": "Webhook — Import CSV",
      "webhookId": "837f5906-70e2-4c8f-b682-ded3b788f354"
    },
    {
      "parameters": {
        "jsCode": "const csvString = $input.first().json.body.csv;\nconst lines = csvString.trim().split('\\n');\nconst expectedHeaders = ['id_salarie', 'adresse_domicile', 'mode_transport', 'score_competence'];\n\n// Parser CSV qui gère les guillemets\nfunction parseCSVLine(line) {\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n  values.push(current.trim());\n  return values;\n}\n\nconst headers = parseCSVLine(lines[0]);\nconst headersValid = expectedHeaders.every((h, i) => headers[i] === h) && headers.length === 4;\n\nif (!headersValid) {\n  return [{ json: {\n    statut: 'erreur_structure',\n    message: 'Colonnes invalides ou manquantes. Colonnes attendues : id_salarie, adresse_domicile, mode_transport, score_competence',\n    lignes: []\n  }}];\n}\n\nconst lignes = lines.slice(1).map((line, index) => {\n  const values = parseCSVLine(line);\n  return {\n    ligne_numero: index + 2,\n    id_salarie: values[0] || null,\n    adresse_domicile: values[1] || null,\n    mode_transport: values[2] || null,\n    score_competence: values[3] ? Number(values[3]) : null\n  };\n});\n\nreturn [{ json: { statut: 'structure_ok', headers, lignes }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "f249ee0c-9fdc-4003-97ad-715dd5495894",
      "name": "Code — Parse CSV"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Si structure invalide, on propage l'erreur directement\nif (input.statut === 'erreur_structure') {\n  return [{ json: input }];\n}\n\nconst modesAutorises = ['driving', 'transit', 'bicycling', 'walking'];\nconst lignesValides = [];\nconst lignesRejetees = [];\n\nfor (const ligne of input.lignes) {\n  const erreurs = [];\n\n  if (!ligne.id_salarie) erreurs.push('id_salarie vide');\n  if (!ligne.adresse_domicile) erreurs.push('adresse_domicile vide');\n  if (!ligne.mode_transport || !modesAutorises.includes(ligne.mode_transport)) {\n    erreurs.push(`mode_transport invalide : \"${ligne.mode_transport}\"`);\n  }\n  if (ligne.score_competence === null || isNaN(ligne.score_competence) ||\n      ligne.score_competence < 1 || ligne.score_competence > 5) {\n    erreurs.push(`score_competence invalide : \"${ligne.score_competence}\"`);\n  }\n\n  if (erreurs.length === 0) {\n    lignesValides.push(ligne);\n  } else {\n    lignesRejetees.push({ ...ligne, erreurs });\n  }\n}\n\nreturn [{ json: {\n  statut: 'validation_ok',\n  lignes_valides: lignesValides,\n  lignes_rejetees: lignesRejetees\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "a42bbbcd-80e2-4bb3-b127-72b5934d7bd7",
      "name": "Code — Validation lignes"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "91a4298a-de8b-4642-8a11-15c0582b0168",
      "name": "Boucle par ligne"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appBOvWn5bXbUUafj/tblWalWWuL3I31XDo/viwjzyI1SaHPxdm0S?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "tblWalWWuL3I31XDo",
          "mode": "list",
          "cachedResultName": "Salariés",
          "cachedResultUrl": "https://airtable.com/appBOvWn5bXbUUafj/tblWalWWuL3I31XDo"
        },
        "filterByFormula": "={id_salarie} = \"{{ $json.id_salarie }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        992,
        128
      ],
      "id": "c02a46fb-07fc-4e51-95b9-1309ee9a2686",
      "name": "Airtable — Search id_salarie",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "Hl8dHfqEu4wFMCXb",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Si on reçoit lignes_valides c'est le premier passage (depuis validation)\nif (input.lignes_valides) {\n  return input.lignes_valides.map(ligne => ({ json: ligne }));\n}\n\n// Sinon c'est un retour de boucle — on passe l'item tel quel\nreturn [{ json: input }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "d6933608-ab15-4423-b11f-d1fc057795cb",
      "name": "Split en items (lignes validées)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0 || !items[0].json.id) {\n  return [{ json: { id: null, found: false } }];\n}\n\nreturn [{ json: { ...items[0].json, found: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        128
      ],
      "id": "952eb863-2968-4bdb-8ae1-1bcec003f355",
      "name": "Code — Garde-fou search"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dc1d0ead-fc44-47a5-8de8-34cb721f07c0",
              "leftValue": "={{ $json.found }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1424,
        128
      ],
      "id": "9efdf2a9-c143-4d2c-a8cf-58f1c0f80d3d",
      "name": "IF — id trouvé ?"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appBOvWn5bXbUUafj/tblWalWWuL3I31XDo/viwjzyI1SaHPxdm0S?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "tblWalWWuL3I31XDo",
          "mode": "list",
          "cachedResultName": "Salariés",
          "cachedResultUrl": "https://airtable.com/appBOvWn5bXbUUafj/tblWalWWuL3I31XDo"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "adresse_domicile": "={{ $('Split en items (lignes validées)').item.json.adresse_domicile }}",
            "score_competence": "={{ $('Split en items (lignes validées)').item.json.score_competence }}",
            "id_salarie": "={{ $('Split en items (lignes validées)').item.json.id_salarie }}",
            "mode_transport": "={{ $('Split en items (lignes validées)').item.json.mode_transport }}"
          },
          "matchingColumns": [
            "id_salarie"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id_salarie",
              "displayName": "id_salarie",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "adresse_domicile",
              "displayName": "adresse_domicile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mode_transport",
              "displayName": "mode_transport",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "transit",
                  "value": "transit"
                },
                {
                  "name": "driving",
                  "value": "driving"
                },
                {
                  "name": "bicycling",
                  "value": "bicycling"
                },
                {
                  "name": "bloup",
                  "value": "bloup"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_competence",
              "displayName": "score_competence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1584,
        80
      ],
      "id": "c75919b8-442d-4139-a6ec-4a69ff2ddc94",
      "name": "Airtable — Update salarié",
      "credentials": {
        "airtableTokenApi": {
          "id": "Hl8dHfqEu4wFMCXb",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code JS1 - updated\nconst store = $getWorkflowStaticData('global');\nif (!store.updates) store.updates = 0;\nstore.updates += 1;\nreturn [{ json: { statut_import: 'updated' }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        80
      ],
      "id": "314a1786-5cba-4c11-a692-9ff522c8885b",
      "name": "Code — Tag updated"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appBOvWn5bXbUUafj/tblWalWWuL3I31XDo/viwjzyI1SaHPxdm0S?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "tblWalWWuL3I31XDo",
          "mode": "list",
          "cachedResultName": "Salariés",
          "cachedResultUrl": "https://airtable.com/appBOvWn5bXbUUafj/tblWalWWuL3I31XDo"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_salarie": "={{ $('Split en items (lignes validées)').item.json.id_salarie }}",
            "adresse_domicile": "={{ $('Split en items (lignes validées)').item.json.adresse_domicile }}",
            "mode_transport": "={{ $('Split en items (lignes validées)').item.json.mode_transport }}",
            "score_competence": "={{ $('Split en items (lignes validées)').item.json.score_competence }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_salarie",
              "displayName": "id_salarie",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "adresse_domicile",
              "displayName": "adresse_domicile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mode_transport",
              "displayName": "mode_transport",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "transit",
                  "value": "transit"
                },
                {
                  "name": "driving",
                  "value": "driving"
                },
                {
                  "name": "bicycling",
                  "value": "bicycling"
                },
                {
                  "name": "bloup",
                  "value": "bloup"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_competence",
              "displayName": "score_competence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1584,
        288
      ],
      "id": "00471ad1-d418-4cd5-ae00-4df7d1a9e2b6",
      "name": "Airtable — Create salarié",
      "credentials": {
        "airtableTokenApi": {
          "id": "Hl8dHfqEu4wFMCXb",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code JS2 - inserted\nconst store = $getWorkflowStaticData('global');\nif (!store.inserts) store.inserts = 0;\nstore.inserts += 1;\nreturn [{ json: { statut_import: 'inserted' }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        288
      ],
      "id": "5a4cdc54-ca0c-4a35-b411-50623ad55065",
      "name": "Code — Tag inserted"
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\n\nconst rapport = {\n  inserts: store.inserts || 0,\n  updates: store.updates || 0\n};\n\nstore.inserts = 0;\nstore.updates = 0;\n\nreturn [{ json: rapport }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        -16
      ],
      "id": "f61eef0a-ead0-494a-99e4-e73680c02509",
      "name": "Code — Rapport import"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2304,
        -16
      ],
      "id": "20195fc9-26ea-48a9-9040-56842f77da6f",
      "name": "Respond to Webhook — Lovable"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Import CSV": {
      "main": [
        [
          {
            "node": "Code — Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Parse CSV": {
      "main": [
        [
          {
            "node": "Code — Validation lignes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Validation lignes": {
      "main": [
        [
          {
            "node": "Split en items (lignes validées)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucle par ligne": {
      "main": [
        [
          {
            "node": "Code — Rapport import",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable — Search id_salarie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable — Search id_salarie": {
      "main": [
        [
          {
            "node": "Code — Garde-fou search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split en items (lignes validées)": {
      "main": [
        [
          {
            "node": "Boucle par ligne",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Garde-fou search": {
      "main": [
        [
          {
            "node": "IF — id trouvé ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — id trouvé ?": {
      "main": [
        [
          {
            "node": "Airtable — Update salarié",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable — Create salarié",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable — Update salarié": {
      "main": [
        [
          {
            "node": "Code — Tag updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Tag updated": {
      "main": [
        [
          {
            "node": "Split en items (lignes validées)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable — Create salarié": {
      "main": [
        [
          {
            "node": "Code — Tag inserted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Tag inserted": {
      "main": [
        [
          {
            "node": "Split en items (lignes validées)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Rapport import": {
      "main": [
        [
          {
            "node": "Respond to Webhook — Lovable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "282a6b01-0654-48d1-b95e-95b248d99e11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec910d2f49d5b52f18d558ea5d54375b37ca2682967add778979a2414016d976"
  },
  "id": "JBhAYMwOSCzvg0f9",
  "tags": []
}