n8n/Workflow-export.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1840,
        -16
      ],
      "id": "09661577-7230-48c3-84d8-ff12ec6db20d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3837a0e0-14c6-45ca-be48-073a17af665c",
              "name": "adresse_actuelle",
              "value": "24 avenue Kléber, 75016 Paris",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "baa5af59-0e99-4f05-81a4-504fce0b0b29",
      "name": "Ajout Adresse Actuelle (entreprise)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "relocation-simulation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "890d8589-bf27-4bd2-92e6-f990a2987d14",
      "name": "Webhook - Lovable",
      "webhookId": "fd32c3e9-b818-4fbf-9b9c-4af991babcf0"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appBOvWn5bXbUUafj",
          "mode": "list",
          "cachedResultName": "Base salariés Ent1.csv",
          "cachedResultUrl": "https://airtable.com/appBOvWn5bXbUUafj"
        },
        "table": {
          "__rl": true,
          "value": "tblWalWWuL3I31XDo",
          "mode": "list",
          "cachedResultName": "Salariés",
          "cachedResultUrl": "https://airtable.com/appBOvWn5bXbUUafj/tblWalWWuL3I31XDo"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "0279b819-165b-4b9f-8bc0-022af137126e",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "Hl8dHfqEu4wFMCXb",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "9f73f555-ae15-4be0-bae1-5fc648554eac",
      "name": "Boucle par salarié"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/distancematrix/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "origins",
              "value": "={{ $json.adresse_domicile }}"
            },
            {
              "name": "destinations",
              "value": "={{ $('Ajout Adresse Actuelle (entreprise)').first().json.adresse_actuelle }}"
            },
            {
              "name": "mode",
              "value": "={{ $json.mode_transport }}"
            },
            {
              "name": "key",
              "value": "AIzaSyCMHLNKwbTC-AOT1G_yO5c-ku5PFqHUbGc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        96
      ],
      "id": "e0b3736e-1809-4428-97e0-61c987033cef",
      "name": "Maps 1 - Adresse actuelle"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/distancematrix/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "origins",
              "value": "={{ $('Boucle par salarié').item.json.adresse_domicile }}"
            },
            {
              "name": "destinations",
              "value": "={{ $('Ajout Adresse Actuelle (entreprise)').first().json.body.adresse_candidate }}"
            },
            {
              "name": "mode",
              "value": "={{ $('Boucle par salarié').item.json.mode_transport }}"
            },
            {
              "name": "key",
              "value": "AIzaSyCMHLNKwbTC-AOT1G_yO5c-ku5PFqHUbGc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        96
      ],
      "id": "4ff1a560-6a78-460e-ae08-c5e30f759994",
      "name": "Maps 2 - Adresse candidate"
    },
    {
      "parameters": {
        "jsCode": "// Récupération des données salarié depuis la boucle\nconst id_salarie      = $('Boucle par salarié').item.json.id_salarie;\nconst score           = $('Boucle par salarié').item.json.score_competence;\n\n// Récupération des durées Maps (en secondes → conversion minutes)\nconst statusActuel    = $('Maps 1 - Adresse actuelle').item.json.rows[0].elements[0].status;\nconst statusCandidat  = $('Maps 2 - Adresse candidate').item.json.rows[0].elements[0].status;\n\n// Garde-fou : si une adresse n'est pas reconnue par Maps\nif (statusActuel !== 'OK' || statusCandidat !== 'OK') {\n  return [{\n    json: {\n      id_salarie,\n      score_competence:   score,\n      trajet_actuel_min:  null,\n      trajet_futur_min:   null,\n      delta_min:          null,\n      risque_individuel:  null,\n      erreur:             \"Adresse non reconnue par Maps API\"\n    }\n  }];\n}\n\nconst trajet_actuel_min = $('Maps 1 - Adresse actuelle').item.json.rows[0].elements[0].duration.value / 60;\nconst trajet_futur_min  = $('Maps 2 - Adresse candidate').item.json.rows[0].elements[0].duration.value / 60;\n\n// Delta\nconst delta = trajet_futur_min - trajet_actuel_min;\n\n// Fonction f(delta)\nlet f;\nif (delta <= 0)       { f = 0; }\nelse if (delta <= 30) { f = delta / 30; }\nelse                  { f = 1 + (delta - 30) / 10; }\n\n// Risque individuel\nconst risque_individuel = Math.round(score * f * 100) / 100;\n\nreturn [{\n  json: {\n    id_salarie,\n    score_competence:   score,\n    trajet_actuel_min:  Math.round(trajet_actuel_min),\n    trajet_futur_min:   Math.round(trajet_futur_min),\n    delta_min:          Math.round(delta),\n    risque_individuel\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        96
      ],
      "id": "8242335a-a348-474f-828d-450ad882c66a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "salaries",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1392,
        -16
      ],
      "id": "281f5c1f-983f-41db-b298-a38dfa3b9cf3",
      "name": "Aggregate salaries"
    },
    {
      "parameters": {
        "jsCode": "const salaries = $input.first().json.salaries;\n\nconst risque_global = Math.round(\n  salaries\n    .filter(s => s.risque_individuel !== null)\n    .reduce((sum, s) => sum + s.risque_individuel, 0)\n  * 100) / 100;\n\nreturn [{\n  json: {\n    risque_global,\n    salaries\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -16
      ],
      "id": "225f3ba4-3fe2-4351-885a-17419c16b0f6",
      "name": "Calcul risque global"
    }
  ],
  "pinData": {},
  "connections": {
    "Ajout Adresse Actuelle (entreprise)": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Lovable": {
      "main": [
        [
          {
            "node": "Ajout Adresse Actuelle (entreprise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Boucle par salarié",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucle par salarié": {
      "main": [
        [
          {
            "node": "Aggregate salaries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Maps 1 - Adresse actuelle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maps 1 - Adresse actuelle": {
      "main": [
        [
          {
            "node": "Maps 2 - Adresse candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maps 2 - Adresse candidate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Boucle par salarié",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate salaries": {
      "main": [
        [
          {
            "node": "Calcul risque global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcul risque global": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "12ae9e77-41dc-4ca3-9c3b-785aa76b1e0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec910d2f49d5b52f18d558ea5d54375b37ca2682967add778979a2414016d976"
  },
  "id": "pN31JV7TNaEf6YrU",
  "tags": []
}